<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>mini_project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>signupservlet</display-name>
    <servlet-name>signupservlet</servlet-name>
    <servlet-class>signupservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signupservlet</servlet-name>
    <url-pattern>/signupservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginservlet</display-name>
    <servlet-name>loginservlet</servlet-name>
    <servlet-class>loginservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginservlet</servlet-name>
    <url-pattern>/loginservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userDetails</display-name>
    <servlet-name>userDetails</servlet-name>
    <servlet-class>userDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userDetails</servlet-name>
    <url-pattern>/userDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>clientDetailsServlet</display-name>
    <servlet-name>clientDetailsServlet</servlet-name>
    <servlet-class>clientDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>clientDetailsServlet</servlet-name>
    <url-pattern>/clientDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>news</display-name>
    <servlet-name>news</servlet-name>
    <servlet-class>news</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>news</servlet-name>
    <url-pattern>/news</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servicesServlet</display-name>
    <servlet-name>servicesServlet</servlet-name>
    <servlet-class>servicesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servicesServlet</servlet-name>
    <url-pattern>/servicesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>bookingsServlet</display-name>
    <servlet-name>bookingsServlet</servlet-name>
    <servlet-class>bookingsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bookingsServlet</servlet-name>
    <url-pattern>/bookingsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>invoiceServlet</display-name>
    <servlet-name>invoiceServlet</servlet-name>
    <servlet-class>invoiceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>invoiceServlet</servlet-name>
    <url-pattern>/invoiceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>admindashboard</display-name>
    <servlet-name>admindashboard</servlet-name>
    <servlet-class>admindashboard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admindashboard</servlet-name>
    <url-pattern>/admindashboard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>displayclientservlet</display-name>
    <servlet-name>displayclientservlet</servlet-name>
    <servlet-class>displayclientservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>displayclientservlet</servlet-name>
    <url-pattern>/displayclientservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateDeleteClientServlet</display-name>
    <servlet-name>UpdateDeleteClientServlet</servlet-name>
    <servlet-class>UpdateDeleteClientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDeleteClientServlet</servlet-name>
    <url-pattern>/UpdateDeleteClientServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateservlet</display-name>
    <servlet-name>updateservlet</servlet-name>
    <servlet-class>updateservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateservlet</servlet-name>
    <url-pattern>/updateservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>clientdel</display-name>
    <servlet-name>clientdel</servlet-name>
    <servlet-class>clientdel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>clientdel</servlet-name>
    <url-pattern>/clientdel</url-pattern>
  </servlet-mapping>
</web-app>